<!--
  Generated template for the ListDatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-list>
  <ion-item-divider sticky>Abril</ion-item-divider>
  <ion-item class="day-item">
      <div item-left class="day">
      <div class="day-numb">29</div>
      <div class="day-word">qua</div>
    </div>
    <appointment-label navPush="AppointmentPage" color="#A0AA00" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
  </ion-item>
  <ion-item class="day-item">
    <div item-left class="day">
      <div class="day-numb">30</div>
      <div class="day-word">qua</div>
    </div>
    <appointment-label navPush="AppointmentPage" color="#00AA00" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
    <appointment-label navPush="AppointmentPage" color="#AA0000" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
    <appointment-label navPush="AppointmentPage" color="#0000AA" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
  </ion-item>
<ion-item-divider sticky>Maio</ion-item-divider>
<ion-item class="day-item">
  <div item-left class="day">
    <div class="day-numb">01</div>
    <div class="day-word">qua</div>
  </div>
  <appointment-label navPush="AppointmentPage" color="#0AA000" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
</ion-item>
  <ion-item class="day-item">
    <div item-left class="day">
      <div class="day-numb">28</div>
      <div class="day-word">qua</div>
    </div>
    <appointment-label navPush="AppointmentPage" color="#AA0A00" name="Junior" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
    <appointment-label navPush="AppointmentPage" color="#AA0A0A" name="Carlos" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
    <appointment-label navPush="AppointmentPage" color="#0A00AA" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
  </ion-item>
  <ion-item class="day-item">
    <div item-left class="day">
      <div class="day-numb">29</div>
      <div class="day-word">qua</div>
    </div>
    <appointment-label navPush="AppointmentPage" color="#00AA00" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
    <appointment-label navPush="AppointmentPage" color="#AA0000" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
    <appointment-label navPush="AppointmentPage" color="#0000AA" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
  </ion-item>
  <ion-item class="day-item">
    <div item-left class="day">
      <div class="day-numb">01</div>
      <div class="day-word">qua</div>
    </div>
    <appointment-label navPush="AppointmentPage" color="#0AA000" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
  </ion-item>
  <ion-item class="day-item">
    <div item-left class="day">
      <div class="day-numb">01</div>
      <div class="day-word">qua</div>
    </div>
    <appointment-label navPush="AppointmentPage" color="#0AA000" name="Mellissa" desc="Jones vs Tala Gessada no Pré Operatório"></appointment-label>
  </ion-item>
</ion-list>
