<!--
  Generated template for the PatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Antônio Valentim</ion-title>
    <ion-buttons end>
      <button ion-button clear navPush="EditPatientPage">
        Editar
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="currentTab">
    <ion-segment-button value="details">Detalhe</ion-segment-button>
    <ion-segment-button value="procedures">Procedimento</ion-segment-button>
    <ion-segment-button value="scores">Score</ion-segment-button>
    <ion-segment-button value="protocols">Protocolo</ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>

  <div [ngSwitch]="currentTab">
    <page-patient-details *ngSwitchCase="'details'"></page-patient-details>
    <page-patient-procedures *ngSwitchCase="'procedures'"></page-patient-procedures>
    <page-patient-scores *ngSwitchCase="'scores'"></page-patient-scores>
    <page-patient-protocols *ngSwitchCase="'protocols'"></page-patient-protocols>
  </div>

</ion-content>
