<!--
  Generated template for the PatientDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-list>
  <ion-item text-wrap>
    <h2>Nome</h2>
    <p item-right>Guilherme Valentim</p>
  </ion-item>
  <ion-item text-wrap>
    <h2>Nascimento</h2>
    <p item-right>11 de out de 1993</p>
  </ion-item>
  <ion-item text-wrap>
    <h2>Altura</h2>
    <p item-right>160cm</p>
  </ion-item>
  <ion-item text-wrap>
    <h2>Sexo</h2>
    <p item-right>Masculino</p>
  </ion-item>
  <ion-item text-wrap>
    <h2>Peso</h2>
    <p item-right> 74Kg</p>
  </ion-item>
</ion-list>
