<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sobre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque saepe quibusdam aliquam illum sequi esse? Voluptates delectus, ullam libero fuga laborum dolor ut? Quisquam sed, esse pariatur molestiae vel rerum, eveniet inventore dolorum voluptate nemo eaque quia, ab reprehenderit, explicabo numquam accusantium magnam quasi? Minima officia perspiciatis rerum asperiores inventore consectetur, provident deleniti quae possimus sint, ea earum? Vitae odit voluptatibus ducimus, officiis beatae ea, iusto eligendi reprehenderit sit quisquam, animi quae similique, hic alias dolore repellat eum architecto quam? Eaque assumenda perferendis officiis unde laborum voluptatem officia deleniti inventore, culpa numquam voluptas est. Harum velit consequatur odit adipisci ab?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veritatis iure numquam asperiores excepturi sint sunt, maxime nam fugit accusamus laudantium suscipit, magnam! Nisi vitae nihil voluptate, animi est ex temporibus quo alias, ad id inventore laboriosam fugit quia aspernatur expedita doloribus omnis quisquam officia incidunt sit dolores veritatis. Architecto nam sint minus dolores. Cupiditate commodi, provident adipisci dignissimos iure tempore a, culpa dolores possimus laudantium aspernatur eligendi nesciunt, non eius repudiandae perspiciatis quis voluptates! Molestiae tenetur et officia temporibus sed tempora? Architecto, dignissimos consectetur suscipit, pariatur debitis quas assumenda, excepturi culpa earum aspernatur iusto aliquid porro quidem nostrum sit illo. Quisquam, ut quasi eius quos odio harum accusamus eveniet expedita quo sunt, perferendis ratione ex placeat deserunt quidem adipisci iste earum vero voluptates minima error alias dolor qui quae! Porro quidem voluptate facilis aliquam laudantium. Ipsa labore explicabo ea, itaque necessitatibus, at commodi aperiam voluptatem officia quibusdam. Dolores suscipit possimus praesentium eum dolor dignissimos tempore, fugiat, dolorum molestias dolorem nostrum deleniti. Facere similique atque nulla, inventore rerum quam natus in consequuntur, nemo ipsum molestias magni quibusdam aut magnam numquam reprehenderit illo nisi vel odio ducimus, non. Qui ullam cupiditate animi fuga ad minima repudiandae commodi quidem modi, molestiae laudantium.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus soluta, praesentium. Harum dolore excepturi repellat eligendi, optio laboriosam consequuntur esse exercitationem in repellendus odio alias dicta maiores perferendis ab, delectus, quam ea? Ipsam, ad laudantium dicta inventore nobis ut, reprehenderit quos illum, ratione dolorem consequuntur quae unde voluptates velit qui sit repudiandae maxime nam distinctio? Nesciunt magni error omnis amet fuga facilis laudantium dolores, voluptate quae deleniti. Ipsa quam, distinctio impedit nostrum adipisci molestias doloremque obcaecati reprehenderit similique architecto. Eum.</p>
</ion-content>
