<!--
  Generated template for the PatientScoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-list>
  <button ion-item navPush="NewScorePage">
    <ion-icon item-left name="stats"></ion-icon>
    Novo score
  </button>
  <ion-list-header color="secondary">Scores realizados</ion-list-header>
  <ion-item-divider sticky> Pé e tornozelo </ion-item-divider>
  <button ion-item text-wrap>
    <h2>AOFAS - 12/05/2017</h2>
    <p>Pós-operatório</p>
    <p item-right> 50 Pontos</p>
  </button>
  <button ion-item text-wrap>
    <h2>AOFAS Halux Valgo - 12/05/2017</h2>
    <p item-right> 54 Pontos</p>
  </button>
  <button ion-item text-wrap>
    <h2>ATRS - 12/05/2017</h2>
    <p>Pré-operatório</p>
    <p item-right> 47 Pontos</p>
  </button>
  <button ion-item text-wrap>
    <h2>FFI - 12/05/2017</h2>
    <p>Pós-operatório</p>
    <p item-right> 61 Pontos</p>
  </button>
  <ion-item-divider sticky> Geral </ion-item-divider>
  <button ion-item text-wrap>
    <h2>SF-36 - 12/05/2017</h2>
    <p>Pós-operatório</p>
    <p item-right> 35 Pontos</p>
  </button>
  <button ion-item text-wrap>
    <h2>EVA - 12/05/2017</h2>
    <p item-right> 42 Pontos</p>
  </button>
  <ion-item-divider sticky> Coluna </ion-item-divider>
  <button ion-item text-wrap>
    <h2>LAFS - 12/05/2017</h2>
    <p item-right> 50 Pontos</p>
  </button>
  <ion-item-divider sticky> Joelho </ion-item-divider>
  <button ion-item text-wrap>
    <h2>IKDC - 18/04/2017</h2>
    <p item-right> 32 Pontos</p>
  </button>
  <button ion-item text-wrap>
    <h2>LAFS - 12/05/2017</h2>
    <p item-right> 48 Pontos</p>
  </button>
  <ion-item-divider sticky> Membros superiores </ion-item-divider>
  <button ion-item text-wrap>
    <h2>DASH - 12/05/2017</h2>
    <p item-right> 80 Pontos</p>
  </button>
  <button ion-item text-wrap>
    <h2>UCLA - 30/07/2017</h2>
    <p> 1ª consulta</p>
    <p item-right> 19 Pontos</p>
  </button>
  <ion-item-divider sticky> Membros inferiores </ion-item-divider>
  <button ion-item text-wrap>
    <h2>LAFS - 30/07/2017</h2>
    <p item-right> 80 Pontos</p>
  </button>
</ion-list>
