<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <img class="logo" src="assets/logo2.png" alt="e-Hero">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block color="primary" (click)="login()"> Entrar </button>
  <button ion-button block outline color="primary" [navPush]="'SignupPage'"> Cadastre-se no e-Hero </button>
  <button ion-button block clear color="calm" (click)="forgotPassword()"> Esqueci minha senha </button>
</ion-content>
