<!--
  Generated template for the AppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Agenda</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="options($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item text-wrap>
      <ion-icon item-left name="ios-time-outline"></ion-icon>
      Segunda-feira, 25 de abr
    </ion-item>
    <button ion-item text-wrap navPush="PatientPage">
      <ion-icon item-left name="ios-person-outline"></ion-icon>
      Mellissa Campos Armanelli
    </button>
    <ion-item text-wrap>
      <ion-icon item-left name="ios-paper-outline"></ion-icon>
      Redução com auxílio artroscópico x redução convencional
    </ion-item>
    <ion-item text-wrap>
      <ion-icon item-left name="ios-repeat-outline"></ion-icon>
      5ª avaliação
    </ion-item>
  </ion-list>

</ion-content>
