<!--
  Generated template for the SubscriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Assinatura</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-divider>Cartão de crédito</ion-item-divider>
    <ion-item>
      <ion-icon name="card" item-left color="balanced"></ion-icon>
      **** 4658
      <button ion-button item-right outline color="primary" navPush="CreditCardPage">Alterar</button>
    </ion-item>
    <ion-item-divider>Faturas passadas</ion-item-divider>
    <button ion-item text-wrap navPush="InvoicePage">
      <p item-left>
        11/04/2016 <br>
        <small>R$ 166,67</small>
      </p>
      <p>
        <span class="text-danger">Pagamento não autorizado</span>
      </p>
    </button>
    <button ion-item text-wrap navPush="InvoicePage">
      <p item-left>
        11/03/2016 <br>
        <small>R$ 166,67</small>
      </p>
      <p>
        Fatura paga
      </p>
    </button>
    <button ion-item text-wrap navPush="InvoicePage">
      <p item-left>
        11/02/2016 <br>
        <small>R$ 166,67</small>
      </p>
      <p>
        Fatura paga
      </p>
    </button>
    <button ion-item text-wrap navPush="InvoicePage">
      <p item-left>
        11/01/2016 <br>
        <small>R$ 166,67</small>
      </p>
      <p>
        Fatura paga
      </p>
    </button>
  </ion-list>
</ion-content>
