<!--
  Generated template for the InvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Fatura 11/04</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <div class="row">
      <div class="col">Status da sua fatura: </div>
      <div class="col"><span class="text-danger">Pagamento não autorizado</span></div>
    </div>
    <div class="row">
      <div class="col">Data de vencimento: </div>
      <div class="col">11/04/2017</div>
    </div>
    <button ion-button color="primary" block>Realizar nova tentativa</button>
  </div>
  <ion-list>
    <ion-item-divider>Tentativas de cobrança</ion-item-divider>
    <ion-item text-wrap>
      <small>Uma mesma fatura só pode ter três tentativas de pagamento por dia. Fique atento a esta limitação e caso seja necessário altere o seu cartão de crédito.</small>
    </ion-item>
    <ion-item text-wrap>
      <p item-left>
        11/04/2016 08:48 <br>
        <small>R$ 166,67</small>
      </p>
      <p>
        <span class="text-danger">Pagamento não autorizado</span>
      </p>
    </ion-item>
    <ion-item text-wrap>
      <p item-left>
        11/04/2016 08:45 <br>
        <small>R$ 166,67</small>
      </p>
      <p>
        <span class="text-danger">Pagamento não autorizado</span>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
