<!--
  Generated template for the PatientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<search-page>
    <div search-header>
      <ion-navbar>
          <ion-buttons start>
            <button ion-button clear (click)="dismiss()">
              Voltar
            </button>
          </ion-buttons>
        <ion-title>
          Pacientes
        </ion-title>
        <ion-buttons end>
          <button ion-button clear>
            Exportar
          </button>
        </ion-buttons>
      </ion-navbar>
    </div>
      <div search-content>
        <ion-list>
          <ion-item>
            <ion-label>Formato</ion-label>
            <ion-select>
              <ion-option selected>Exportar em CSV</ion-option>
              <ion-option>Exportar em PDF</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Marcar todos</ion-label>
            <ion-checkbox color="primary" checked="false"></ion-checkbox>
          </ion-item>
          <ion-item-divider> A </ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Antonio Valentim - 61</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Augusto Silva - 48</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item-divider> C </ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Carolina Carvalho - 54</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Carolina Duarte - 63</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Carlos Almeida - 37</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item-divider> D </ion-item-divider>
          <ion-item text-wrap>
            <ion-label>Daniel Henrique de Matos - 17</ion-label>6
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item text-wrap>
            <ion-label>Diego Fernando de Melo - 28</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
  </search-page>
