@keyframes slideInBothWays {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }

  50% {
    -webkit-transform: translate3d(50%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

page-new-score {

  .slide-in-both-ways ion-item {
     -webkit-animation: slideInBothWays ease-in 1;
    animation: slideInBothWays ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 450ms;
    animation-duration: 450ms;
  }
}
