<!--
  Generated template for the NewScorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Novo score</ion-title>
    <ion-buttons end>
      <button ion-button clear [disabled]="!score"> Adicionar </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="slide-in-both-ways">
    <ion-item text-wrap>
      <h2> Scores </h2>
      <p> Selecione abaixo os scores que deseja aplicar neste paciente </p>
    </ion-item>
    <ion-item-divider sticky> Pé e tornozelo </ion-item-divider>
    <ion-item>
      <ion-label>AOFAS - Retropé</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>AOFAS - Hallux Valgo</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>ATRS</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>FFI</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item-divider sticky> Geral </ion-item-divider>
    <ion-item>
      <ion-label>EVA</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>SF-36</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item-divider sticky> Coluna </ion-item-divider>
    <ion-item>
      <ion-label>Oswestry</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Roland Morris</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item-divider sticky> Joelho </ion-item-divider>
    <ion-item>
      <ion-label>IKDC</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Lysholm</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item-divider sticky> Membros superiores </ion-item-divider>
    <ion-item>
      <ion-label>DASH</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>UCLA</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item-divider sticky> Membros inferiores </ion-item-divider>
    <ion-item>
      <ion-label>LEFS</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
