<!--
  Generated template for the ProtocolsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<search-page>
  <div search-header>
    <ion-navbar>
      <ion-title>
        Protocolos
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="openDownloadPage()">
          <ion-icon name="ios-cloud-outline"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </div>
    <div search-content>
      <ion-list>
        <button ion-item>
          <ion-icon item-left name="paper"></ion-icon>
          Novo protocolo
        </button>
        <ion-item-divider>Meus protocolos </ion-item-divider>
        <button ion-item text-wrap>
          <h2>Calcâneo</h2>
          <p>Estudo prospectivo do tratamento das fraturas cirúrgicas. Calcâneo: Jones VS tala gessada no pré operatório </p>
        </button>
        <ion-item-divider>
          Compartilhados
        </ion-item-divider>
        <button ion-item text-wrap>
          <h2>Sindesmose</h2>
          <p> Estudo prospectivo do tratamento das fraturas cirúrgicas do calcâneo: Jonas vs tala gessada no pré operatório </p>
        </button>
        <button ion-item text-wrap>
          <h2>SPECT TC</h2>
          <p>Does ankle SPECT-TC negativate after treatment for talus osteochondral lesion?</p>
        </button>
      </ion-list>
    </div>
</search-page>
