<!--
  Generated template for the SyncPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sincronização</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <button [disabled]="synced" (click)="sync()" ion-button block color="primary"> Sincronizar </button>
    <p *ngIf="synced">
      Nenhuma informação a ser sincroniazada. Realize novos registros para que eles sejam armazenadas localmente e posteriormente sincronizadas.
    </p>
    <p *ngIf="!synced">
      Você tem algumas informações que estão armezadas apenas no seu aparelho, realize a sincronização para ter essas informações online.
    </p>
  </div>
  <ion-list>
    <ion-item-divider color="light">Protocolos</ion-item-divider>
    <ion-item *ngIf="!synced"> Protocolo calcâneo </ion-item>
    <ion-item *ngIf="synced"> Todos protocolos sincronizados  </ion-item>
    <ion-item-divider color="light">Procedimentos</ion-item-divider>
    <ion-item *ngIf="!synced">Procedimento análise do menisco </ion-item>
    <ion-item *ngIf="synced"> Todos procedimentos sincronizados  </ion-item>
    <ion-item-divider color="light"> Pacientes </ion-item-divider>
    <ion-item *ngIf="!synced">Antonio Augusto</ion-item>
    <ion-item *ngIf="synced"> Todos pacientes sincronizados </ion-item>
  </ion-list>
</ion-content>
