<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Contato</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="send()">Enviar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list margin-bottom>
    <ion-item>
      <ion-label floating>Mensagem</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block color="primary" (click)="send()">Enviar</button>

</ion-content>
