<search-page>
  <div search-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>
        e-Hero
      </ion-title>
    </ion-navbar>
  </div>

  <div search-content class="tiles-wrapper">
    <div class="tiles" text-center>
      <div class="tile" navPush="PatientsPage">
        <ion-icon name="ios-person-outline"></ion-icon> <br>
        <span class="title"> Pacientes </span>
      </div>
      <div class="tile" navPush="ProtocolsPage">
        <ion-icon name="ios-paper-outline"></ion-icon> <br>
        <span class="title"> Protocolos </span>
      </div>
      <div class="tile" navPush="CalendarPage">
        <ion-icon name="ios-calendar-outline"></ion-icon> <br>
        <span class="title"> Agenda </span>
      </div>
      <div class="tile" navPush="SubscriptionsPage">
        <ion-icon name="ios-card-outline"></ion-icon> <br>
        <span class="title"> Assinaturas </span>
      </div>
      <div class="tile" navPush="HelpPage">
        <ion-icon name="ios-help-circle-outline"></ion-icon> <br>
        <span class="title"> Ajuda </span>
      </div>
      <div class="tile">
      </div>
    </div>
  </div>
</search-page>
