page-home {

  .tiles-wrapper {
    height: 100%;
    width: 100%;
  }

  .tiles {
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid map-get($colors, 'light');;
  }
  .tile {
    display: flex;
    flex-direction: column;
    color: map-get($colors, 'dark');;
    justify-content: center;
    resize: vertical;
    position: relative;
    border: 2px solid map-get($colors, 'light');;
    border-bottom: none;
    height: 33.333%;
    width: 50%;
    box-sizing: border-box;
    float: left;
    &:nth-child(2n - 1) {
      border-right: none;
    }
    ion-icon {
      font-size: 60px;
    }
    &:active {
      background: map-get($colors, 'light');
    }
  }
}
