<!--
  Generated template for the AppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Agenda</ion-title>
    <ion-buttons end>
      <button ion-button clear>
        Salvar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item text-wrap>
      <ion-icon item-left name="ios-time-outline"></ion-icon>
      <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <ion-item text-wrap>
      <ion-icon item-left name="ios-person-outline"></ion-icon>
      Mellissa Campos Armanelli
    </ion-item>
    <ion-item text-wrap>
      <ion-icon item-left name="ios-paper-outline"></ion-icon>
      Redução com auxílio artroscópico x redução convencional
    </ion-item>
    <ion-item text-wrap>
      <ion-icon item-left name="ios-repeat-outline"></ion-icon>
      <ion-select>
        <ion-option selected>1ª Avaliação</ion-option>
        <ion-option>2ª Avaliação</ion-option>
        <ion-option>3ª Avaliação</ion-option>
        <ion-option>4ª Avaliação</ion-option>
        <ion-option>5ª Avaliação</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
