<!--
  Generated template for the PatientProceduresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list>
  <button ion-item navPush="CreateProcedurePage">
    <ion-icon item-left name="paper"></ion-icon>
    Novo procedimento
  </button>
  <ion-item-divider>Procedimentos realizados</ion-item-divider>
  <button ion-item text-wrap navPush="ProcedurePage">
    <h2> Outros traumatismos superficiais do tornozelo e do pé</h2>
    <small item-right> 12/08/2017</small>
  </button>
  <button ion-item text-wrap navPush="ProcedurePage">
    <h2> Contusão de outras partes e partes não especificadas do pé </h2>
    <small item-right> 30/06/2017</small>
  </button>
  <button ion-item text-wrap navPush="ProcedurePage">
    <h2> Outros traumatismos superficiais do tornozelo e do pé</h2>
    <small item-right> 09/04/2017</small>
  </button>
</ion-list>
