<ion-header>
  <ng-content select=[search-header]></ng-content>
  <ion-searchbar placeholder="Pesquisar" (ionInput)="search($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <ng-content *ngIf="!terms?.length" select="[search-content]"></ng-content>

  <ion-list *ngIf="terms?.length">
    <ion-item-group>
      <ion-item-divider color="light">Pacientes</ion-item-divider>
      <ion-item text-wrap>Antônio Valentim - 61</ion-item>
      <ion-item text-wrap>Augusto Silva - 49</ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Procedimentos</ion-item-divider>
      <ion-item text-wrap>
        <h2>Outros traumatismos superficiais do tornozelo</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
      <ion-item text-wrap>
        <h2> Contusão de outras partes e partes não especificadas do pé</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Protocolos</ion-item-divider>
      <ion-item text-wrap>
        <h2>SPECT TC</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Scores</ion-item-divider>
      <ion-item text-wrap>
        <h2>AOFAS</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
      <ion-item text-wrap>
        <h2>SF-69</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
