<ion-menu #menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Guilherme Valentim</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage('ProfilePage')">
        <ion-icon item-left name="ios-person-outline"></ion-icon>
        Meu perfil
      </button>
      <button ion-item (click)="openPage('NotificationsPage')">
        <ion-icon item-left name="ios-settings-outline"></ion-icon>
        Notificações
      </button>
      <button ion-item (click)="openPage('ContactPage')">
        <ion-icon item-left name="ios-mail-outline"></ion-icon>
        Fale conosco
      </button>
      <button ion-item (click)="openPage('SyncPage')">
        <ion-icon item-left name="cloud-outline"></ion-icon>
        Sincronização
      </button>
      <button ion-item (click)="openPage('AboutPage')">
        <ion-icon item-left name="ios-information-circle-outline"></ion-icon>
        Sobre
      </button>
      <button ion-item (click)="close()">
        <ion-icon item-left name="ios-power-outline"></ion-icon>
        Sair
      </button>
    </ion-list>
    <button ion-button block clear small color="primary" (click)="openPage('TermsPage')"> Termos de uso e políticas de privacidade</button>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
