<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Abril</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="state == 'calendar'" (click)="setState('listdates')">
        <ion-icon name="ios-list-outline"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="state == 'listdates'" (click)="setState('calendar')">
        <ion-icon name="ios-calendar-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <page-list-dates *ngIf="state == 'listdates'"></page-list-dates>
  <ion-grid *ngIf="state == 'calendar'">
    <ion-row class="row-header">
      <ion-col>D</ion-col>
      <ion-col>S</ion-col>
      <ion-col>T</ion-col>
      <ion-col>Q</ion-col>
      <ion-col>Q</ion-col>
      <ion-col>S</ion-col>
      <ion-col>S</ion-col>
    </ion-row>
    <ion-row class="row-day">
      <ion-col>
        <div class="day">30</div>
        <appointment-label navPush="AppointmentPage" color="#AA0000" name="Mellissa"></appointment-label>
        <appointment-label navPush="AppointmentPage" color="#AA0000" name="Manoel"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">01</div>
        <appointment-label navPush="AppointmentPage" color="#00AA00" name="Luis Henrique"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">02</div>
        <appointment-label navPush="AppointmentPage" color="#0AA000" name="Pedro Andrade"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">03</div>
        <appointment-label navPush="AppointmentPage" color="#000AA0" name="Guilherme Valentim"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">04</div>
        <appointment-label navPush="AppointmentPage" color="#0000AA" name="Mateus Durães"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">05</div>
        <appointment-label navPush="AppointmentPage" color="#A0000A" name="Lucas Corrêa"></appointment-label>
        <appointment-label navPush="AppointmentPage" color="#AA0000" name="Manoel"></appointment-label>
        <appointment-label navPush="AppointmentPage" color="#AA0000" name="Carlos"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">06</div>
        <appointment-label navPush="AppointmentPage" color="#0A00A0" name="Cristiane Rocha"></appointment-label>
      </ion-col>
    </ion-row>
    <ion-row class="row-day">
      <ion-col>
        <div class="day">07</div>
        <appointment-label navPush="AppointmentPage" color="#A0000A" name="Manoel"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">08</div>
      </ion-col>
      <ion-col>
        <div class="day">09</div>
      </ion-col>
      <ion-col>
        <div class="day">10</div>
      </ion-col>
      <ion-col>
        <div class="day">11</div>
      </ion-col>
      <ion-col>
        <div class="day">12</div>
        <appointment-label navPush="AppointmentPage" color="#AA0000" name="Lucas Corrêa"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">13</div>
      </ion-col>
    </ion-row>
    <ion-row class="row-day">
      <ion-col>
        <div class="day">14</div>
        <appointment-label navPush="AppointmentPage" color="#AA0000" name="Mellissa"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">15</div>
        <appointment-label navPush="AppointmentPage" color="#00AA00" name="Luis Henrique"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">16</div>
      </ion-col>
      <ion-col>
        <div class="day">17</div>
        <appointment-label navPush="AppointmentPage" color="#000AA0" name="Guilherme Valentim"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">18</div>
        <appointment-label navPush="AppointmentPage" color="#0000AA" name="Mateus Durães"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">19</div>
      </ion-col>
      <ion-col>
        <div class="day">20</div>
        <appointment-label navPush="AppointmentPage" color="#0A00A0" name="Cristiane Rocha"></appointment-label>
      </ion-col>
    </ion-row>
    <ion-row class="row-day">
      <ion-col>
        <div class="day">21</div>
      </ion-col>
      <ion-col>
        <div class="day">22</div>
        <appointment-label navPush="AppointmentPage" color="#00AA00" name="Luis Henrique"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">23</div>
        <appointment-label navPush="AppointmentPage" color="#0AA000" name="Pedro Andrade"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">24</div>
        <appointment-label navPush="AppointmentPage" color="#000AA0" name="Guilherme Valentim"></appointment-label>
      </ion-col>
      <ion-col>
        <div class="day">25</div>
      </ion-col>
      <ion-col>
        <div class="day">26</div>
      </ion-col>
      <ion-col>
        <div class="day">27</div>
        <appointment-label navPush="AppointmentPage" color="#0A00A0" name="Cristiane Rocha"></appointment-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
