page-calendar {
  ion-row {
    ion-col {
      text-align: center;
      overflow: hidden;
      .day {
        margin-bottom: 5px;
        font-size: 13px;
      }
    }

    &.row-header {
      margin-top: 20px;
      ion-col {
        font-weight: bold;
        font-size: 18px;
      }
    }

    &.row-day {
      border-bottom: 1px solid map-get($colors, 'stable');
      padding-bottom: 10px;
    }
  }
  ion-navbar.show-back-button .back-button {
    display: inline-block;
  }
}
