<!--
  Generated template for the PatientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<search-page>
  <div search-header>
    <ion-navbar>
      <ion-title>
        Pacientes
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="openDownloadPage()">
          <ion-icon name="ios-cloud-outline"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </div>
    <div search-content>
      <ion-list>
        <button ion-item navPush="CreatePatientPage">
          <ion-icon item-left name="person"></ion-icon>
          Cadastrar Paciente
        </button>
        <ion-item-divider sticky> A </ion-item-divider>
        <button ion-item text-wrap navPush="PatientPage">
          Antonio Valentim - 61
        </button>
        <button ion-item text-wrap navPush="PatientPage">
          Augusto Silva - 48
        </button>
        <ion-item-divider sticky> C </ion-item-divider>
        <button ion-item text-wrap navPush="PatientPage">
          Carolina Carvalho - 54
        </button>
        <button ion-item text-wrap navPush="PatientPage">
          Carolina Duarte - 63
        </button>
        <button ion-item text-wrap navPush="PatientPage">
          Carlos Almeida - 37
        </button>
        <ion-item-divider sticky> D </ion-item-divider>
        <button ion-item text-wrap navPush="PatientPage">
          Daniel Henrique de Matos - 16
        </button>
        <button ion-item text-wrap navPush="PatientPage">
          Diego Fernando de Melo - 28
        </button>
        <ion-item-divider sticky> E </ion-item-divider>
        <button ion-item text-wrap navPush="PatientPage">
          Eduardo Eustáquio - 31
        </button>
        <button ion-item text-wrap navPush="PatientPage">
          Estrôncio Silva - 29
        </button>
        <button ion-item text-wrap navPush="PatientPage">
          Emanuel Carneiro - 33
        </button>
        <button ion-item text-wrap navPush="PatientPage">
          Evair Souza - 28
        </button>
      </ion-list>
    </div>
</search-page>
