<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notificações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p padding>
    Configure a suas preferências de notificações, assim garantimos que não vamos incomodar.
  </p>
  <ion-list>
    <ion-item-divider> Central de notificações</ion-item-divider>
    <ion-item text-wrap>
      <ion-label> Compartilhamento de protocolo </ion-label>
      <ion-toggle color="primary" checked="false"></ion-toggle>
    </ion-item>
    <ion-item text-wrap>
      <ion-label> Compromisso da agenda </ion-label>
      <ion-toggle color="primary" checked="false"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>1º Alerta</ion-label>
      <ion-select>
        <ion-option value="1dia">1 dia antes</ion-option>
        <ion-option value="2dia">2 dia antes</ion-option>
        <ion-option value="3dia">3 dia antes</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>2º Alerta</ion-label>
      <ion-select>
        <ion-option value="1dia">1 dia antes</ion-option>
        <ion-option value="2dia">2 dia antes</ion-option>
        <ion-option value="3dia">3 dia antes</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>3º Alerta</ion-label>
      <ion-select>
        <ion-option value="1dia">1 dia antes</ion-option>
        <ion-option value="2dia">2 dia antes</ion-option>
        <ion-option value="3dia">3 dia antes</ion-option>
      </ion-select>
    </ion-item>
    <ion-item text-wrap>
      <ion-label> Faturas </ion-label>
      <ion-toggle color="primary" checked="false"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
