<!--
  Generated template for the ProcedurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procedimento</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="options($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      Antonio Valentim - 61
    </ion-item>
    <ion-item text-wrap>
      <h2>Sutura Meniscal</h2>
      <p>A preservação do menisco significa prevenção re retardar o desenvolvimento de atrose no joelho.</p>
    </ion-item>
    <ion-item-divider>Mídias</ion-item-divider>
    <ion-item text-wrap (click)="openGallery(0)">
      <ion-thumbnail item-start>
        <img src="assets/joelho1.jpg" alt="Joelho 1">
      </ion-thumbnail>
      <p> Foto do procedimento antes do operatório </p>
      <p> Foto do procedimento antes do operatório </p>
    </ion-item>
    <ion-item text-wrap (click)="openGallery(1)">
      <ion-thumbnail item-start>
        <img src="assets/joelho2.jpg" alt="Joelho 2">
      </ion-thumbnail>
      <p> Foto do procedimento antes do operatório </p>
      <p> Foto do procedimento antes do operatório </p>
    </ion-item>
  </ion-list>
</ion-content>
