<!--
  Generated template for the CreatePatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Novo paciente</ion-title>
    <ion-buttons end>
      <button clear ion-button>Salvar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item-divider> Dados pessoais </ion-item-divider>
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nascimento</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Altura</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Sexo</ion-label>
      <ion-select>
        <ion-option>Masculino</ion-option>
        <ion-option>Feminino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Peso</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item-divider>
      Adicionar procedimento
      <ion-icon item-right name="add">
      </ion-icon>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-item text-wrap>
        <h2>Outros traumatismos superficiais do tornozelo</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
      <ion-item-options side="right">
      <button ion-button icon-only color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item text-wrap>
        <h2> Contusão de outras partes e partes não especificadas do pé</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
      <ion-item-options side="right">
      <button ion-button icon-only color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-divider>
      Adicionar score
      <ion-icon item-right name="add">
      </ion-icon>
    </ion-item-divider>
    <ion-item-sliding>
      <ion-item text-wrap>
        <h2>SPECT TC</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
      <ion-item-options side="right">
      <button ion-button icon-only color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item text-wrap>
        <h2>AOFAS</h2>
        <p item-right> <small> 12/05/2017</small></p>
      </ion-item>
      <ion-item-options side="right">
      <button ion-button icon-only color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
