<!--
  Generated template for the DownloadProtocolsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Protocolos</ion-title>
    <ion-buttons start>
      <button ion-button clear (click)="dismiss()">Cancelar</button>

    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear>Exportar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Formato</ion-label>
        <ion-select>
          <ion-option selected>Exportar em CSV</ion-option>
          <ion-option>Exportar em PDF</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Marcar todos</ion-label>
        <ion-checkbox color="primary" checked="false"></ion-checkbox>
      </ion-item>
      <ion-item-divider>Meus protocolos </ion-item-divider>
      <ion-item text-wrap>
        <ion-label>
          <h2>Calcâneo</h2>
          <p>Estudo prospectivo do tratamento das fraturas cirúrgicas. Calcâneo: Jones VS tala gessada no pré operatório </p>
        </ion-label>
        <ion-checkbox color="primary" checked="false"></ion-checkbox>
      </ion-item>
      <ion-item-divider>
        Compartilhados
      </ion-item-divider>
      <ion-item text-wrap>
        <ion-label>
          <h2>Sindesmose</h2>
          <p> Estudo prospectivo do tratamento das fraturas cirúrgicas do calcâneo: Jonas vs tala gessada no pré operatório </p>
        </ion-label>
        <ion-checkbox color="primary" checked="false"></ion-checkbox>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <h2>SPECT TC</h2>
          <p>Does ankle SPECT-TC negativate after treatment for talus osteochondral lesion?</p>
        </ion-label>
        <ion-checkbox color="primary" checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-content>
