<!--
  Generated template for the PopoverProcedureOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list no-margin>
    <button ion-item navPush="EditProcedurePage" (click)="dismiss()">
      <ion-icon name="trash" color="primary" item-left></ion-icon>
      Editar
    </button>
    <button ion-item>
      <ion-icon name="trash" color="danger" item-left></ion-icon>
      Remover
    </button>
  </ion-list>
</ion-content>
