appointment-label {
  .label {
    display: block;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    &.-small {
      padding: 3px;
      font-size: 11px;
    }
  }
}
