<!--
  Generated template for the EditProcedurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sutura meniscal</ion-title>
    <ion-buttons end>
      <button ion-button clear> Salvar </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating> Procedimento </ion-label>
      <ion-input type="text" value="Sutura meniscal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating> Descrição </ion-label>
      <ion-input type="text" value="A preservação do menisco significa prevenção e tardar o desenvolvimento de atrose no joelho"></ion-input>
    </ion-item>
    <button ion-item>
      Adicionar novo campo
      <ion-icon name="add" item-left></ion-icon>
    </button>
    <ion-item-divider>
      Mídias
      <button ion-button clear icon-only item-right>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item-divider>
    <ion-item text-wrap>
      <button ion-button item-left icon-only clear>
        <ion-icon name="close-circle" color="danger"></ion-icon>
      </button>
      <ion-thumbnail item-start>
        <img src="assets/joelho1.jpg" alt="Joelho 1">
      </ion-thumbnail>
      <p> Foto do procedimento antes do operatório </p>
      <p> Foto do procedimento antes do operatório </p>
    </ion-item>
    <ion-item text-wrap>
      <button ion-button item-left icon-only clear>
        <ion-icon name="close-circle" color="danger"></ion-icon>
      </button>
      <ion-thumbnail item-start>
        <img src="assets/joelho2.jpg" alt="Joelho 2">
      </ion-thumbnail>
      <p> Foto do procedimento antes do operatório </p>
      <p> Foto do procedimento antes do operatório </p>
    </ion-item>
  </ion-list>
</ion-content>
