<!--
  Generated template for the PatientProceduresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list>
  <button ion-item navPush="CreateProtocolPage">
    <ion-icon item-left name="paper"></ion-icon>
    Aplicar protocolo
  </button>
  <ion-item-divider>Protocolos aplicados</ion-item-divider>
  <button ion-item text-wrap navPush="ProtocolPage">
    <h2> Calcâneo</h2>
    <p> Estudo prospectivo do tratamento das fraturas cirúrgicas do calcâneo: Hones vs tale gessada no pré</p>
    <ion-icon item-left name="md-square" color="secondary"></ion-icon>
  </button>
  <button ion-item text-wrap navPush="ProtocolPage">
    <h2> Sindesmose </h2>
    <p> Estudo prospectivo do tratamento das fraturas cirúrgicas do calcâneo: Hones vs tale gessada no pré</p>
    <ion-icon item-left name="md-square" color="secondary"></ion-icon>
  </button>
</ion-list>
