<!--
  Generated template for the CreateProcedurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Novo procedimento</ion-title>
    <ion-buttons end>
      <button ion-button clear> Adicionar </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating> Procedimento </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating> Descrição </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <button ion-item>
      Adicionar novo campo
      <ion-icon name="add" item-left></ion-icon>
    </button>
    <ion-item-divider>
      Mídias
      <button ion-button clear icon-only item-right>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item-divider>
    <p padding-horizontal>
      Nenhuma mídia adicionada. Para adicionar uma mídia clique no "+" à direita de Mídias
    </p>
  </ion-list>
</ion-content>
